<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBVY3thz9mSwccLbjyFr5y63POqUSTeiI</string>
	<key>GCM_SENDER_ID</key>
	<string>553182019068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minimalsocialapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iysocial</string>
	<key>STORAGE_BUCKET</key>
	<string>iysocial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553182019068:ios:bec62ead48f3cd2503c679</string>
</dict>
</plist>